<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FSClientId</key>
	<string>VVOMY2W1MDABDLMH5E1LNLY5K3VSFP5HYXOQR2XZKFQFXJY4</string>
	<key>FSClientSecret</key>
	<string>GFWCJ41ZRVRIVJUHNCFVYWATSJUDOLKCXC3S0YXVRZZB23ZL</string>
</dict>
</plist>
